[class^="fff-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  background-image: url(fff-icons.png);
  background-position:0 0;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.fff-accept{background-position:0 0} 
.fff-add{background-position:0 -26px} 
.fff-anchor{background-position:0 -52px} 
.fff-application{background-position:0 -78px} 
.fff-application_add{background-position:0 -104px} 
.fff-application_cascade{background-position:0 -130px} 
.fff-application_delete{background-position:0 -156px} 
.fff-application_double{background-position:0 -182px} 
.fff-application_edit{background-position:0 -208px} 
.fff-application_error{background-position:0 -234px} 
.fff-application_form{background-position:0 -260px} 
.fff-application_form_add{background-position:0 -286px} 
.fff-application_form_delete{background-position:0 -312px} 
.fff-application_form_edit{background-position:0 -338px} 
.fff-application_form_magnify{background-position:0 -364px} 
.fff-application_get{background-position:0 -390px} 
.fff-application_go{background-position:0 -416px} 
.fff-application_home{background-position:0 -442px} 
.fff-application_key{background-position:0 -468px} 
.fff-application_lightning{background-position:0 -494px} 
.fff-application_link{background-position:0 -520px} 
.fff-application_osx{background-position:0 -546px} 
.fff-application_osx_terminal{background-position:0 -572px} 
.fff-application_put{background-position:0 -598px} 
.fff-application_side_boxes{background-position:0 -624px} 
.fff-application_side_contract{background-position:0 -650px} 
.fff-application_side_expand{background-position:0 -676px} 
.fff-application_side_list{background-position:0 -702px} 
.fff-application_side_tree{background-position:0 -728px} 
.fff-application_split{background-position:0 -754px} 
.fff-application_tile_horizontal{background-position:0 -780px} 
.fff-application_tile_vertical{background-position:0 -806px} 
.fff-application_view_columns{background-position:0 -832px} 
.fff-application_view_detail{background-position:0 -858px} 
.fff-application_view_gallery{background-position:0 -884px} 
.fff-application_view_icons{background-position:0 -910px} 
.fff-application_view_list{background-position:0 -936px} 
.fff-application_view_tile{background-position:0 -962px} 
.fff-application_xp{background-position:0 -988px} 
.fff-application_xp_terminal{background-position:0 -1014px} 
.fff-arrow_branch{background-position:0 -1040px} 
.fff-arrow_divide{background-position:0 -1066px} 
.fff-arrow_down{background-position:0 -1092px} 
.fff-arrow_in{background-position:0 -1118px} 
.fff-arrow_inout{background-position:0 -1144px} 
.fff-arrow_join{background-position:0 -1170px} 
.fff-arrow_left{background-position:0 -1196px} 
.fff-arrow_merge{background-position:0 -1222px} 
.fff-arrow_out{background-position:0 -1248px} 
.fff-arrow_redo{background-position:0 -1274px} 
.fff-arrow_refresh{background-position:0 -1300px} 
.fff-arrow_refresh_small{background-position:0 -1326px} 
.fff-arrow_right{background-position:0 -1352px} 
.fff-arrow_rotate_anticlockwise{background-position:0 -1378px} 
.fff-arrow_rotate_clockwise{background-position:0 -1404px} 
.fff-arrow_switch{background-position:0 -1430px} 
.fff-arrow_turn_left{background-position:0 -1456px} 
.fff-arrow_turn_right{background-position:0 -1482px} 
.fff-arrow_undo{background-position:0 -1508px} 
.fff-arrow_up{background-position:0 -1534px} 
.fff-asterisk_orange{background-position:0 -1560px} 
.fff-asterisk_yellow{background-position:0 -1586px} 
.fff-attach{background-position:0 -1612px} 
.fff-award_star_add{background-position:0 -1638px} 
.fff-award_star_bronze_1{background-position:0 -1664px} 
.fff-award_star_bronze_2{background-position:0 -1690px} 
.fff-award_star_bronze_3{background-position:0 -1716px} 
.fff-award_star_delete{background-position:0 -1742px} 
.fff-award_star_gold_1{background-position:0 -1768px} 
.fff-award_star_gold_2{background-position:0 -1794px} 
.fff-award_star_gold_3{background-position:0 -1820px} 
.fff-award_star_silver_1{background-position:0 -1846px} 
.fff-award_star_silver_2{background-position:0 -1872px} 
.fff-award_star_silver_3{background-position:0 -1898px} 
.fff-basket{background-position:0 -1924px} 
.fff-basket_add{background-position:0 -1950px} 
.fff-basket_delete{background-position:0 -1976px} 
.fff-basket_edit{background-position:-26px 0} 
.fff-basket_error{background-position:-26px -26px} 
.fff-basket_go{background-position:-26px -52px} 
.fff-basket_put{background-position:-26px -78px} 
.fff-basket_remove{background-position:-26px -104px} 
.fff-bell{background-position:-26px -130px} 
.fff-bell_add{background-position:-26px -156px} 
.fff-bell_delete{background-position:-26px -182px} 
.fff-bell_error{background-position:-26px -208px} 
.fff-bell_go{background-position:-26px -234px} 
.fff-bell_link{background-position:-26px -260px} 
.fff-bin{background-position:-26px -286px} 
.fff-bin_closed{background-position:-26px -312px} 
.fff-bin_empty{background-position:-26px -338px} 
.fff-bomb{background-position:-26px -364px} 
.fff-book{background-position:-26px -390px} 
.fff-book_add{background-position:-26px -416px} 
.fff-book_addresses{background-position:-26px -442px} 
.fff-book_delete{background-position:-26px -468px} 
.fff-book_edit{background-position:-26px -494px} 
.fff-book_error{background-position:-26px -520px} 
.fff-book_go{background-position:-26px -546px} 
.fff-book_key{background-position:-26px -572px} 
.fff-book_link{background-position:-26px -598px} 
.fff-book_next{background-position:-26px -624px} 
.fff-book_open{background-position:-26px -650px} 
.fff-book_previous{background-position:-26px -676px} 
.fff-box{background-position:-26px -702px} 
.fff-brick{background-position:-26px -728px} 
.fff-brick_add{background-position:-26px -754px} 
.fff-brick_delete{background-position:-26px -780px} 
.fff-brick_edit{background-position:-26px -806px} 
.fff-brick_error{background-position:-26px -832px} 
.fff-brick_go{background-position:-26px -858px} 
.fff-brick_link{background-position:-26px -884px} 
.fff-bricks{background-position:-26px -910px} 
.fff-briefcase{background-position:-26px -936px} 
.fff-bug{background-position:-26px -962px} 
.fff-bug_add{background-position:-26px -988px} 
.fff-bug_delete{background-position:-26px -1014px} 
.fff-bug_edit{background-position:-26px -1040px} 
.fff-bug_error{background-position:-26px -1066px} 
.fff-bug_go{background-position:-26px -1092px} 
.fff-bug_link{background-position:-26px -1118px} 
.fff-building{background-position:-26px -1144px} 
.fff-building_add{background-position:-26px -1170px} 
.fff-building_delete{background-position:-26px -1196px} 
.fff-building_edit{background-position:-26px -1222px} 
.fff-building_error{background-position:-26px -1248px} 
.fff-building_go{background-position:-26px -1274px} 
.fff-building_key{background-position:-26px -1300px} 
.fff-building_link{background-position:-26px -1326px} 
.fff-bullet_add{background-position:-26px -1352px} 
.fff-bullet_arrow_bottom{background-position:-26px -1378px} 
.fff-bullet_arrow_down{background-position:-26px -1404px} 
.fff-bullet_arrow_top{background-position:-26px -1430px} 
.fff-bullet_arrow_up{background-position:-26px -1456px} 
.fff-bullet_black{background-position:-26px -1482px} 
.fff-bullet_blue{background-position:-26px -1508px} 
.fff-bullet_delete{background-position:-26px -1534px} 
.fff-bullet_disk{background-position:-26px -1560px} 
.fff-bullet_error{background-position:-26px -1586px} 
.fff-bullet_feed{background-position:-26px -1612px} 
.fff-bullet_go{background-position:-26px -1638px} 
.fff-bullet_green{background-position:-26px -1664px} 
.fff-bullet_key{background-position:-26px -1690px} 
.fff-bullet_orange{background-position:-26px -1716px} 
.fff-bullet_picture{background-position:-26px -1742px} 
.fff-bullet_pink{background-position:-26px -1768px} 
.fff-bullet_purple{background-position:-26px -1794px} 
.fff-bullet_red{background-position:-26px -1820px} 
.fff-bullet_star{background-position:-26px -1846px} 
.fff-bullet_toggle_minus{background-position:-26px -1872px} 
.fff-bullet_toggle_plus{background-position:-26px -1898px} 
.fff-bullet_white{background-position:-26px -1924px} 
.fff-bullet_wrench{background-position:-26px -1950px} 
.fff-bullet_yellow{background-position:-26px -1976px} 
.fff-cake{background-position:-52px 0} 
.fff-calculator{background-position:-52px -26px} 
.fff-calculator_add{background-position:-52px -52px} 
.fff-calculator_delete{background-position:-52px -78px} 
.fff-calculator_edit{background-position:-52px -104px} 
.fff-calculator_error{background-position:-52px -130px} 
.fff-calculator_link{background-position:-52px -156px} 
.fff-calendar{background-position:-52px -182px} 
.fff-calendar_add{background-position:-52px -208px} 
.fff-calendar_delete{background-position:-52px -234px} 
.fff-calendar_edit{background-position:-52px -260px} 
.fff-calendar_link{background-position:-52px -286px} 
.fff-calendar_view_day{background-position:-52px -312px} 
.fff-calendar_view_month{background-position:-52px -338px} 
.fff-calendar_view_week{background-position:-52px -364px} 
.fff-camera{background-position:-52px -390px} 
.fff-camera_add{background-position:-52px -416px} 
.fff-camera_delete{background-position:-52px -442px} 
.fff-camera_edit{background-position:-52px -468px} 
.fff-camera_error{background-position:-52px -494px} 
.fff-camera_go{background-position:-52px -520px} 
.fff-camera_link{background-position:-52px -546px} 
.fff-camera_small{background-position:-52px -572px} 
.fff-cancel{background-position:-52px -598px} 
.fff-car{background-position:-52px -624px} 
.fff-car_add{background-position:-52px -650px} 
.fff-car_delete{background-position:-52px -676px} 
.fff-cart{background-position:-52px -702px} 
.fff-cart_add{background-position:-52px -728px} 
.fff-cart_delete{background-position:-52px -754px} 
.fff-cart_edit{background-position:-52px -780px} 
.fff-cart_error{background-position:-52px -806px} 
.fff-cart_go{background-position:-52px -832px} 
.fff-cart_put{background-position:-52px -858px} 
.fff-cart_remove{background-position:-52px -884px} 
.fff-cd{background-position:-52px -910px} 
.fff-cd_add{background-position:-52px -936px} 
.fff-cd_burn{background-position:-52px -962px} 
.fff-cd_delete{background-position:-52px -988px} 
.fff-cd_edit{background-position:-52px -1014px} 
.fff-cd_eject{background-position:-52px -1040px} 
.fff-cd_go{background-position:-52px -1066px} 
.fff-chart_bar{background-position:-52px -1092px} 
.fff-chart_bar_add{background-position:-52px -1118px} 
.fff-chart_bar_delete{background-position:-52px -1144px} 
.fff-chart_bar_edit{background-position:-52px -1170px} 
.fff-chart_bar_error{background-position:-52px -1196px} 
.fff-chart_bar_link{background-position:-52px -1222px} 
.fff-chart_curve{background-position:-52px -1248px} 
.fff-chart_curve_add{background-position:-52px -1274px} 
.fff-chart_curve_delete{background-position:-52px -1300px} 
.fff-chart_curve_edit{background-position:-52px -1326px} 
.fff-chart_curve_error{background-position:-52px -1352px} 
.fff-chart_curve_go{background-position:-52px -1378px} 
.fff-chart_curve_link{background-position:-52px -1404px} 
.fff-chart_line{background-position:-52px -1430px} 
.fff-chart_line_add{background-position:-52px -1456px} 
.fff-chart_line_delete{background-position:-52px -1482px} 
.fff-chart_line_edit{background-position:-52px -1508px} 
.fff-chart_line_error{background-position:-52px -1534px} 
.fff-chart_line_link{background-position:-52px -1560px} 
.fff-chart_organisation{background-position:-52px -1586px} 
.fff-chart_organisation_add{background-position:-52px -1612px} 
.fff-chart_organisation_delete{background-position:-52px -1638px} 
.fff-chart_pie{background-position:-52px -1664px} 
.fff-chart_pie_add{background-position:-52px -1690px} 
.fff-chart_pie_delete{background-position:-52px -1716px} 
.fff-chart_pie_edit{background-position:-52px -1742px} 
.fff-chart_pie_error{background-position:-52px -1768px} 
.fff-chart_pie_link{background-position:-52px -1794px} 
.fff-clock{background-position:-52px -1820px} 
.fff-clock_add{background-position:-52px -1846px} 
.fff-clock_delete{background-position:-52px -1872px} 
.fff-clock_edit{background-position:-52px -1898px} 
.fff-clock_error{background-position:-52px -1924px} 
.fff-clock_go{background-position:-52px -1950px} 
.fff-clock_link{background-position:-52px -1976px} 
.fff-clock_pause{background-position:-78px 0} 
.fff-clock_play{background-position:-78px -26px} 
.fff-clock_red{background-position:-78px -52px} 
.fff-clock_stop{background-position:-78px -78px} 
.fff-cog{background-position:-78px -104px} 
.fff-cog_add{background-position:-78px -130px} 
.fff-cog_delete{background-position:-78px -156px} 
.fff-cog_edit{background-position:-78px -182px} 
.fff-cog_error{background-position:-78px -208px} 
.fff-cog_go{background-position:-78px -234px} 
.fff-coins{background-position:-78px -260px} 
.fff-coins_add{background-position:-78px -286px} 
.fff-coins_delete{background-position:-78px -312px} 
.fff-color_swatch{background-position:-78px -338px} 
.fff-color_wheel{background-position:-78px -364px} 
.fff-comment{background-position:-78px -390px} 
.fff-comment_add{background-position:-78px -416px} 
.fff-comment_delete{background-position:-78px -442px} 
.fff-comment_edit{background-position:-78px -468px} 
.fff-comments{background-position:-78px -494px} 
.fff-comments_add{background-position:-78px -520px} 
.fff-comments_delete{background-position:-78px -546px} 
.fff-compress{background-position:-78px -572px} 
.fff-computer{background-position:-78px -598px} 
.fff-computer_add{background-position:-78px -624px} 
.fff-computer_delete{background-position:-78px -650px} 
.fff-computer_edit{background-position:-78px -676px} 
.fff-computer_error{background-position:-78px -702px} 
.fff-computer_go{background-position:-78px -728px} 
.fff-computer_key{background-position:-78px -754px} 
.fff-computer_link{background-position:-78px -780px} 
.fff-connect{background-position:-78px -806px} 
.fff-contrast{background-position:-78px -832px} 
.fff-contrast_decrease{background-position:-78px -858px} 
.fff-contrast_high{background-position:-78px -884px} 
.fff-contrast_increase{background-position:-78px -910px} 
.fff-contrast_low{background-position:-78px -936px} 
.fff-control_eject{background-position:-78px -962px} 
.fff-control_eject_blue{background-position:-78px -988px} 
.fff-control_end{background-position:-78px -1014px} 
.fff-control_end_blue{background-position:-78px -1040px} 
.fff-control_equalizer{background-position:-78px -1066px} 
.fff-control_equalizer_blue{background-position:-78px -1092px} 
.fff-control_fastforward{background-position:-78px -1118px} 
.fff-control_fastforward_blue{background-position:-78px -1144px} 
.fff-control_pause{background-position:-78px -1170px} 
.fff-control_pause_blue{background-position:-78px -1196px} 
.fff-control_play{background-position:-78px -1222px} 
.fff-control_play_blue{background-position:-78px -1248px} 
.fff-control_repeat{background-position:-78px -1274px} 
.fff-control_repeat_blue{background-position:-78px -1300px} 
.fff-control_rewind{background-position:-78px -1326px} 
.fff-control_rewind_blue{background-position:-78px -1352px} 
.fff-control_start{background-position:-78px -1378px} 
.fff-control_start_blue{background-position:-78px -1404px} 
.fff-control_stop{background-position:-78px -1430px} 
.fff-control_stop_blue{background-position:-78px -1456px} 
.fff-controller{background-position:-78px -1482px} 
.fff-controller_add{background-position:-78px -1508px} 
.fff-controller_delete{background-position:-78px -1534px} 
.fff-controller_error{background-position:-78px -1560px} 
.fff-creditcards{background-position:-78px -1586px} 
.fff-cross{background-position:-78px -1612px} 
.fff-css{background-position:-78px -1638px} 
.fff-css_add{background-position:-78px -1664px} 
.fff-css_delete{background-position:-78px -1690px} 
.fff-css_go{background-position:-78px -1716px} 
.fff-css_valid{background-position:-78px -1742px} 
.fff-cup{background-position:-78px -1768px} 
.fff-cup_add{background-position:-78px -1794px} 
.fff-cup_delete{background-position:-78px -1820px} 
.fff-cup_edit{background-position:-78px -1846px} 
.fff-cup_error{background-position:-78px -1872px} 
.fff-cup_go{background-position:-78px -1898px} 
.fff-cup_key{background-position:-78px -1924px} 
.fff-cup_link{background-position:-78px -1950px} 
.fff-cursor{background-position:-78px -1976px} 
.fff-cut{background-position:-104px 0} 
.fff-cut_red{background-position:-104px -26px} 
.fff-database{background-position:-104px -52px} 
.fff-database_add{background-position:-104px -78px} 
.fff-database_connect{background-position:-104px -104px} 
.fff-database_delete{background-position:-104px -130px} 
.fff-database_edit{background-position:-104px -156px} 
.fff-database_error{background-position:-104px -182px} 
.fff-database_gear{background-position:-104px -208px} 
.fff-database_go{background-position:-104px -234px} 
.fff-database_key{background-position:-104px -260px} 
.fff-database_lightning{background-position:-104px -286px} 
.fff-database_link{background-position:-104px -312px} 
.fff-database_refresh{background-position:-104px -338px} 
.fff-database_save{background-position:-104px -364px} 
.fff-database_table{background-position:-104px -390px} 
.fff-date{background-position:-104px -416px} 
.fff-date_add{background-position:-104px -442px} 
.fff-date_delete{background-position:-104px -468px} 
.fff-date_edit{background-position:-104px -494px} 
.fff-date_error{background-position:-104px -520px} 
.fff-date_go{background-position:-104px -546px} 
.fff-date_link{background-position:-104px -572px} 
.fff-date_magnify{background-position:-104px -598px} 
.fff-date_next{background-position:-104px -624px} 
.fff-date_previous{background-position:-104px -650px} 
.fff-delete{background-position:-104px -676px} 
.fff-disconnect{background-position:-104px -702px} 
.fff-disk{background-position:-104px -728px} 
.fff-disk_multiple{background-position:-104px -754px} 
.fff-door{background-position:-104px -780px} 
.fff-door_in{background-position:-104px -806px} 
.fff-door_open{background-position:-104px -832px} 
.fff-door_out{background-position:-104px -858px} 
.fff-drink{background-position:-104px -884px} 
.fff-drink_empty{background-position:-104px -910px} 
.fff-drive{background-position:-104px -936px} 
.fff-drive_add{background-position:-104px -962px} 
.fff-drive_burn{background-position:-104px -988px} 
.fff-drive_cd{background-position:-104px -1014px} 
.fff-drive_cd_empty{background-position:-104px -1040px} 
.fff-drive_delete{background-position:-104px -1066px} 
.fff-drive_disk{background-position:-104px -1092px} 
.fff-drive_edit{background-position:-104px -1118px} 
.fff-drive_error{background-position:-104px -1144px} 
.fff-drive_go{background-position:-104px -1170px} 
.fff-drive_key{background-position:-104px -1196px} 
.fff-drive_link{background-position:-104px -1222px} 
.fff-drive_magnify{background-position:-104px -1248px} 
.fff-drive_network{background-position:-104px -1274px} 
.fff-drive_rename{background-position:-104px -1300px} 
.fff-drive_user{background-position:-104px -1326px} 
.fff-drive_web{background-position:-104px -1352px} 
.fff-dvd{background-position:-104px -1378px} 
.fff-dvd_add{background-position:-104px -1404px} 
.fff-dvd_delete{background-position:-104px -1430px} 
.fff-dvd_edit{background-position:-104px -1456px} 
.fff-dvd_error{background-position:-104px -1482px} 
.fff-dvd_go{background-position:-104px -1508px} 
.fff-dvd_key{background-position:-104px -1534px} 
.fff-dvd_link{background-position:-104px -1560px} 
.fff-email{background-position:-104px -1586px} 
.fff-email_add{background-position:-104px -1612px} 
.fff-email_attach{background-position:-104px -1638px} 
.fff-email_delete{background-position:-104px -1664px} 
.fff-email_edit{background-position:-104px -1690px} 
.fff-email_error{background-position:-104px -1716px} 
.fff-email_go{background-position:-104px -1742px} 
.fff-email_link{background-position:-104px -1768px} 
.fff-email_open{background-position:-104px -1794px} 
.fff-email_open_image{background-position:-104px -1820px} 
.fff-emoticon_evilgrin{background-position:-104px -1846px} 
.fff-emoticon_grin{background-position:-104px -1872px} 
.fff-emoticon_happy{background-position:-104px -1898px} 
.fff-emoticon_smile{background-position:-104px -1924px} 
.fff-emoticon_surprised{background-position:-104px -1950px} 
.fff-emoticon_tongue{background-position:-104px -1976px} 
.fff-emoticon_unhappy{background-position:-130px 0} 
.fff-emoticon_waii{background-position:-130px -26px} 
.fff-emoticon_wink{background-position:-130px -52px} 
.fff-error{background-position:-130px -78px} 
.fff-error_add{background-position:-130px -104px} 
.fff-error_delete{background-position:-130px -130px} 
.fff-error_go{background-position:-130px -156px} 
.fff-exclamation{background-position:-130px -182px} 
.fff-eye{background-position:-130px -208px} 
.fff-feed{background-position:-130px -234px} 
.fff-feed_add{background-position:-130px -260px} 
.fff-feed_delete{background-position:-130px -286px} 
.fff-feed_disk{background-position:-130px -312px} 
.fff-feed_edit{background-position:-130px -338px} 
.fff-feed_error{background-position:-130px -364px} 
.fff-feed_go{background-position:-130px -390px} 
.fff-feed_key{background-position:-130px -416px} 
.fff-feed_link{background-position:-130px -442px} 
.fff-feed_magnify{background-position:-130px -468px} 
.fff-female{background-position:-130px -494px} 
.fff-film{background-position:-130px -520px} 
.fff-film_add{background-position:-130px -546px} 
.fff-film_delete{background-position:-130px -572px} 
.fff-film_edit{background-position:-130px -598px} 
.fff-film_error{background-position:-130px -624px} 
.fff-film_go{background-position:-130px -650px} 
.fff-film_key{background-position:-130px -676px} 
.fff-film_link{background-position:-130px -702px} 
.fff-film_save{background-position:-130px -728px} 
.fff-find{background-position:-130px -754px} 
.fff-flag_blue{background-position:-130px -780px} 
.fff-flag_green{background-position:-130px -806px} 
.fff-flag_orange{background-position:-130px -832px} 
.fff-flag_pink{background-position:-130px -858px} 
.fff-flag_purple{background-position:-130px -884px} 
.fff-flag_red{background-position:-130px -910px} 
.fff-flag_yellow{background-position:-130px -936px} 
.fff-folder{background-position:-130px -962px} 
.fff-folder_add{background-position:-130px -988px} 
.fff-folder_bell{background-position:-130px -1014px} 
.fff-folder_brick{background-position:-130px -1040px} 
.fff-folder_bug{background-position:-130px -1066px} 
.fff-folder_camera{background-position:-130px -1092px} 
.fff-folder_database{background-position:-130px -1118px} 
.fff-folder_delete{background-position:-130px -1144px} 
.fff-folder_edit{background-position:-130px -1170px} 
.fff-folder_error{background-position:-130px -1196px} 
.fff-folder_explore{background-position:-130px -1222px} 
.fff-folder_feed{background-position:-130px -1248px} 
.fff-folder_find{background-position:-130px -1274px} 
.fff-folder_go{background-position:-130px -1300px} 
.fff-folder_heart{background-position:-130px -1326px} 
.fff-folder_image{background-position:-130px -1352px} 
.fff-folder_key{background-position:-130px -1378px} 
.fff-folder_lightbulb{background-position:-130px -1404px} 
.fff-folder_link{background-position:-130px -1430px} 
.fff-folder_magnify{background-position:-130px -1456px} 
.fff-folder_page{background-position:-130px -1482px} 
.fff-folder_page_white{background-position:-130px -1508px} 
.fff-folder_palette{background-position:-130px -1534px} 
.fff-folder_picture{background-position:-130px -1560px} 
.fff-folder_star{background-position:-130px -1586px} 
.fff-folder_table{background-position:-130px -1612px} 
.fff-folder_user{background-position:-130px -1638px} 
.fff-folder_wrench{background-position:-130px -1664px} 
.fff-font{background-position:-130px -1690px} 
.fff-font_add{background-position:-130px -1716px} 
.fff-font_delete{background-position:-130px -1742px} 
.fff-font_go{background-position:-130px -1768px} 
.fff-group{background-position:-130px -1794px} 
.fff-group_add{background-position:-130px -1820px} 
.fff-group_delete{background-position:-130px -1846px} 
.fff-group_edit{background-position:-130px -1872px} 
.fff-group_error{background-position:-130px -1898px} 
.fff-group_gear{background-position:-130px -1924px} 
.fff-group_go{background-position:-130px -1950px} 
.fff-group_key{background-position:-130px -1976px} 
.fff-group_link{background-position:-156px 0} 
.fff-heart{background-position:-156px -26px} 
.fff-heart_add{background-position:-156px -52px} 
.fff-heart_delete{background-position:-156px -78px} 
.fff-help{background-position:-156px -104px} 
.fff-hourglass{background-position:-156px -130px} 
.fff-hourglass_add{background-position:-156px -156px} 
.fff-hourglass_delete{background-position:-156px -182px} 
.fff-hourglass_go{background-position:-156px -208px} 
.fff-hourglass_link{background-position:-156px -234px} 
.fff-house{background-position:-156px -260px} 
.fff-house_go{background-position:-156px -286px} 
.fff-house_link{background-position:-156px -312px} 
.fff-html{background-position:-156px -338px} 
.fff-html_add{background-position:-156px -364px} 
.fff-html_delete{background-position:-156px -390px} 
.fff-html_go{background-position:-156px -416px} 
.fff-html_valid{background-position:-156px -442px} 
.fff-image{background-position:-156px -468px} 
.fff-image_add{background-position:-156px -494px} 
.fff-image_delete{background-position:-156px -520px} 
.fff-image_edit{background-position:-156px -546px} 
.fff-image_link{background-position:-156px -572px} 
.fff-images{background-position:-156px -598px} 
.fff-information{background-position:-156px -624px} 
.fff-ipod{background-position:-156px -650px} 
.fff-ipod_cast{background-position:-156px -676px} 
.fff-ipod_cast_add{background-position:-156px -702px} 
.fff-ipod_cast_delete{background-position:-156px -728px} 
.fff-ipod_sound{background-position:-156px -754px} 
.fff-joystick{background-position:-156px -780px} 
.fff-joystick_add{background-position:-156px -806px} 
.fff-joystick_delete{background-position:-156px -832px} 
.fff-joystick_error{background-position:-156px -858px} 
.fff-key{background-position:-156px -884px} 
.fff-key_add{background-position:-156px -910px} 
.fff-key_delete{background-position:-156px -936px} 
.fff-key_go{background-position:-156px -962px} 
.fff-keyboard{background-position:-156px -988px} 
.fff-keyboard_add{background-position:-156px -1014px} 
.fff-keyboard_delete{background-position:-156px -1040px} 
.fff-keyboard_magnify{background-position:-156px -1066px} 
.fff-layers{background-position:-156px -1092px} 
.fff-layout{background-position:-156px -1118px} 
.fff-layout_add{background-position:-156px -1144px} 
.fff-layout_content{background-position:-156px -1170px} 
.fff-layout_delete{background-position:-156px -1196px} 
.fff-layout_edit{background-position:-156px -1222px} 
.fff-layout_error{background-position:-156px -1248px} 
.fff-layout_header{background-position:-156px -1274px} 
.fff-layout_link{background-position:-156px -1300px} 
.fff-layout_sidebar{background-position:-156px -1326px} 
.fff-lightbulb{background-position:-156px -1352px} 
.fff-lightbulb_add{background-position:-156px -1378px} 
.fff-lightbulb_delete{background-position:-156px -1404px} 
.fff-lightbulb_off{background-position:-156px -1430px} 
.fff-lightning{background-position:-156px -1456px} 
.fff-lightning_add{background-position:-156px -1482px} 
.fff-lightning_delete{background-position:-156px -1508px} 
.fff-lightning_go{background-position:-156px -1534px} 
.fff-link{background-position:-156px -1560px} 
.fff-link_add{background-position:-156px -1586px} 
.fff-link_break{background-position:-156px -1612px} 
.fff-link_delete{background-position:-156px -1638px} 
.fff-link_edit{background-position:-156px -1664px} 
.fff-link_error{background-position:-156px -1690px} 
.fff-link_go{background-position:-156px -1716px} 
.fff-lock{background-position:-156px -1742px} 
.fff-lock_add{background-position:-156px -1768px} 
.fff-lock_break{background-position:-156px -1794px} 
.fff-lock_delete{background-position:-156px -1820px} 
.fff-lock_edit{background-position:-156px -1846px} 
.fff-lock_go{background-position:-156px -1872px} 
.fff-lock_open{background-position:-156px -1898px} 
.fff-lorry{background-position:-156px -1924px} 
.fff-lorry_add{background-position:-156px -1950px} 
.fff-lorry_delete{background-position:-156px -1976px} 
.fff-lorry_error{background-position:-182px 0} 
.fff-lorry_flatbed{background-position:-182px -26px} 
.fff-lorry_go{background-position:-182px -52px} 
.fff-lorry_link{background-position:-182px -78px} 
.fff-magifier_zoom_out{background-position:-182px -104px} 
.fff-magnifier{background-position:-182px -130px} 
.fff-magnifier_zoom_in{background-position:-182px -156px} 
.fff-male{background-position:-182px -182px} 
.fff-map{background-position:-182px -208px} 
.fff-map_add{background-position:-182px -234px} 
.fff-map_delete{background-position:-182px -260px} 
.fff-map_edit{background-position:-182px -286px} 
.fff-map_go{background-position:-182px -312px} 
.fff-map_magnify{background-position:-182px -338px} 
.fff-medal_bronze_1{background-position:-182px -364px} 
.fff-medal_bronze_2{background-position:-182px -390px} 
.fff-medal_bronze_3{background-position:-182px -416px} 
.fff-medal_bronze_add{background-position:-182px -442px} 
.fff-medal_bronze_delete{background-position:-182px -468px} 
.fff-medal_gold_1{background-position:-182px -494px} 
.fff-medal_gold_2{background-position:-182px -520px} 
.fff-medal_gold_3{background-position:-182px -546px} 
.fff-medal_gold_add{background-position:-182px -572px} 
.fff-medal_gold_delete{background-position:-182px -598px} 
.fff-medal_silver_1{background-position:-182px -624px} 
.fff-medal_silver_2{background-position:-182px -650px} 
.fff-medal_silver_3{background-position:-182px -676px} 
.fff-medal_silver_add{background-position:-182px -702px} 
.fff-medal_silver_delete{background-position:-182px -728px} 
.fff-money{background-position:-182px -754px} 
.fff-money_add{background-position:-182px -780px} 
.fff-money_delete{background-position:-182px -806px} 
.fff-money_dollar{background-position:-182px -832px} 
.fff-money_euro{background-position:-182px -858px} 
.fff-money_pound{background-position:-182px -884px} 
.fff-money_yen{background-position:-182px -910px} 
.fff-monitor{background-position:-182px -936px} 
.fff-monitor_add{background-position:-182px -962px} 
.fff-monitor_delete{background-position:-182px -988px} 
.fff-monitor_edit{background-position:-182px -1014px} 
.fff-monitor_error{background-position:-182px -1040px} 
.fff-monitor_go{background-position:-182px -1066px} 
.fff-monitor_lightning{background-position:-182px -1092px} 
.fff-monitor_link{background-position:-182px -1118px} 
.fff-mouse{background-position:-182px -1144px} 
.fff-mouse_add{background-position:-182px -1170px} 
.fff-mouse_delete{background-position:-182px -1196px} 
.fff-mouse_error{background-position:-182px -1222px} 
.fff-music{background-position:-182px -1248px} 
.fff-new{background-position:-182px -1274px} 
.fff-newspaper{background-position:-182px -1300px} 
.fff-newspaper_add{background-position:-182px -1326px} 
.fff-newspaper_delete{background-position:-182px -1352px} 
.fff-newspaper_go{background-position:-182px -1378px} 
.fff-newspaper_link{background-position:-182px -1404px} 
.fff-note{background-position:-182px -1430px} 
.fff-note_add{background-position:-182px -1456px} 
.fff-note_delete{background-position:-182px -1482px} 
.fff-note_edit{background-position:-182px -1508px} 
.fff-note_error{background-position:-182px -1534px} 
.fff-note_go{background-position:-182px -1560px} 
.fff-overlays{background-position:-182px -1586px} 
.fff-package{background-position:-182px -1612px} 
.fff-package_add{background-position:-182px -1638px} 
.fff-package_delete{background-position:-182px -1664px} 
.fff-package_go{background-position:-182px -1690px} 
.fff-package_green{background-position:-182px -1716px} 
.fff-package_link{background-position:-182px -1742px} 
.fff-page{background-position:-182px -1768px} 
.fff-page_add{background-position:-182px -1794px} 
.fff-page_attach{background-position:-182px -1820px} 
.fff-page_code{background-position:-182px -1846px} 
.fff-page_copy{background-position:-182px -1872px} 
.fff-page_delete{background-position:-182px -1898px} 
.fff-page_edit{background-position:-182px -1924px} 
.fff-page_error{background-position:-182px -1950px} 
.fff-page_excel{background-position:-182px -1976px} 
.fff-page_find{background-position:-208px 0} 
.fff-page_gear{background-position:-208px -26px} 
.fff-page_go{background-position:-208px -52px} 
.fff-page_green{background-position:-208px -78px} 
.fff-page_key{background-position:-208px -104px} 
.fff-page_lightning{background-position:-208px -130px} 
.fff-page_link{background-position:-208px -156px} 
.fff-page_paintbrush{background-position:-208px -182px} 
.fff-page_paste{background-position:-208px -208px} 
.fff-page_red{background-position:-208px -234px} 
.fff-page_refresh{background-position:-208px -260px} 
.fff-page_save{background-position:-208px -286px} 
.fff-page_white{background-position:-208px -312px} 
.fff-page_white_acrobat{background-position:-208px -338px} 
.fff-page_white_actionscript{background-position:-208px -364px} 
.fff-page_white_add{background-position:-208px -390px} 
.fff-page_white_c{background-position:-208px -416px} 
.fff-page_white_camera{background-position:-208px -442px} 
.fff-page_white_cd{background-position:-208px -468px} 
.fff-page_white_code{background-position:-208px -494px} 
.fff-page_white_code_red{background-position:-208px -520px} 
.fff-page_white_coldfusion{background-position:-208px -546px} 
.fff-page_white_compressed{background-position:-208px -572px} 
.fff-page_white_copy{background-position:-208px -598px} 
.fff-page_white_cplusplus{background-position:-208px -624px} 
.fff-page_white_csharp{background-position:-208px -650px} 
.fff-page_white_cup{background-position:-208px -676px} 
.fff-page_white_database{background-position:-208px -702px} 
.fff-page_white_delete{background-position:-208px -728px} 
.fff-page_white_dvd{background-position:-208px -754px} 
.fff-page_white_edit{background-position:-208px -780px} 
.fff-page_white_error{background-position:-208px -806px} 
.fff-page_white_excel{background-position:-208px -832px} 
.fff-page_white_find{background-position:-208px -858px} 
.fff-page_white_flash{background-position:-208px -884px} 
.fff-page_white_freehand{background-position:-208px -910px} 
.fff-page_white_gear{background-position:-208px -936px} 
.fff-page_white_get{background-position:-208px -962px} 
.fff-page_white_go{background-position:-208px -988px} 
.fff-page_white_h{background-position:-208px -1014px} 
.fff-page_white_horizontal{background-position:-208px -1040px} 
.fff-page_white_key{background-position:-208px -1066px} 
.fff-page_white_lightning{background-position:-208px -1092px} 
.fff-page_white_link{background-position:-208px -1118px} 
.fff-page_white_magnify{background-position:-208px -1144px} 
.fff-page_white_medal{background-position:-208px -1170px} 
.fff-page_white_office{background-position:-208px -1196px} 
.fff-page_white_paint{background-position:-208px -1222px} 
.fff-page_white_paintbrush{background-position:-208px -1248px} 
.fff-page_white_paste{background-position:-208px -1274px} 
.fff-page_white_php{background-position:-208px -1300px} 
.fff-page_white_picture{background-position:-208px -1326px} 
.fff-page_white_powerpoint{background-position:-208px -1352px} 
.fff-page_white_put{background-position:-208px -1378px} 
.fff-page_white_ruby{background-position:-208px -1404px} 
.fff-page_white_stack{background-position:-208px -1430px} 
.fff-page_white_star{background-position:-208px -1456px} 
.fff-page_white_swoosh{background-position:-208px -1482px} 
.fff-page_white_text{background-position:-208px -1508px} 
.fff-page_white_text_width{background-position:-208px -1534px} 
.fff-page_white_tux{background-position:-208px -1560px} 
.fff-page_white_vector{background-position:-208px -1586px} 
.fff-page_white_visualstudio{background-position:-208px -1612px} 
.fff-page_white_width{background-position:-208px -1638px} 
.fff-page_white_word{background-position:-208px -1664px} 
.fff-page_white_world{background-position:-208px -1690px} 
.fff-page_white_wrench{background-position:-208px -1716px} 
.fff-page_white_zip{background-position:-208px -1742px} 
.fff-page_word{background-position:-208px -1768px} 
.fff-page_world{background-position:-208px -1794px} 
.fff-paintbrush{background-position:-208px -1820px} 
.fff-paintcan{background-position:-208px -1846px} 
.fff-palette{background-position:-208px -1872px} 
.fff-paste_plain{background-position:-208px -1898px} 
.fff-paste_word{background-position:-208px -1924px} 
.fff-pencil{background-position:-208px -1950px} 
.fff-pencil_add{background-position:-208px -1976px} 
.fff-pencil_delete{background-position:-234px 0} 
.fff-pencil_go{background-position:-234px -26px} 
.fff-phone{background-position:-234px -52px} 
.fff-phone_add{background-position:-234px -78px} 
.fff-phone_delete{background-position:-234px -104px} 
.fff-phone_sound{background-position:-234px -130px} 
.fff-photo{background-position:-234px -156px} 
.fff-photo_add{background-position:-234px -182px} 
.fff-photo_delete{background-position:-234px -208px} 
.fff-photo_link{background-position:-234px -234px} 
.fff-photos{background-position:-234px -260px} 
.fff-picture{background-position:-234px -286px} 
.fff-picture_add{background-position:-234px -312px} 
.fff-picture_delete{background-position:-234px -338px} 
.fff-picture_edit{background-position:-234px -364px} 
.fff-picture_empty{background-position:-234px -390px} 
.fff-picture_error{background-position:-234px -416px} 
.fff-picture_go{background-position:-234px -442px} 
.fff-picture_key{background-position:-234px -468px} 
.fff-picture_link{background-position:-234px -494px} 
.fff-picture_save{background-position:-234px -520px} 
.fff-pictures{background-position:-234px -546px} 
.fff-pilcrow{background-position:-234px -572px} 
.fff-pill{background-position:-234px -598px} 
.fff-pill_add{background-position:-234px -624px} 
.fff-pill_delete{background-position:-234px -650px} 
.fff-pill_go{background-position:-234px -676px} 
.fff-plugin{background-position:-234px -702px} 
.fff-plugin_add{background-position:-234px -728px} 
.fff-plugin_delete{background-position:-234px -754px} 
.fff-plugin_disabled{background-position:-234px -780px} 
.fff-plugin_edit{background-position:-234px -806px} 
.fff-plugin_error{background-position:-234px -832px} 
.fff-plugin_go{background-position:-234px -858px} 
.fff-plugin_link{background-position:-234px -884px} 
.fff-printer{background-position:-234px -910px} 
.fff-printer_add{background-position:-234px -936px} 
.fff-printer_delete{background-position:-234px -962px} 
.fff-printer_empty{background-position:-234px -988px} 
.fff-printer_error{background-position:-234px -1014px} 
.fff-rainbow{background-position:-234px -1040px} 
.fff-report{background-position:-234px -1066px} 
.fff-report_add{background-position:-234px -1092px} 
.fff-report_delete{background-position:-234px -1118px} 
.fff-report_disk{background-position:-234px -1144px} 
.fff-report_edit{background-position:-234px -1170px} 
.fff-report_go{background-position:-234px -1196px} 
.fff-report_key{background-position:-234px -1222px} 
.fff-report_link{background-position:-234px -1248px} 
.fff-report_magnify{background-position:-234px -1274px} 
.fff-report_picture{background-position:-234px -1300px} 
.fff-report_user{background-position:-234px -1326px} 
.fff-report_word{background-position:-234px -1352px} 
.fff-resultset_first{background-position:-234px -1378px} 
.fff-resultset_last{background-position:-234px -1404px} 
.fff-resultset_next{background-position:-234px -1430px} 
.fff-resultset_previous{background-position:-234px -1456px} 
.fff-rosette{background-position:-234px -1482px} 
.fff-rss{background-position:-234px -1508px} 
.fff-rss_add{background-position:-234px -1534px} 
.fff-rss_delete{background-position:-234px -1560px} 
.fff-rss_go{background-position:-234px -1586px} 
.fff-rss_valid{background-position:-234px -1612px} 
.fff-ruby{background-position:-234px -1638px} 
.fff-ruby_add{background-position:-234px -1664px} 
.fff-ruby_delete{background-position:-234px -1690px} 
.fff-ruby_gear{background-position:-234px -1716px} 
.fff-ruby_get{background-position:-234px -1742px} 
.fff-ruby_go{background-position:-234px -1768px} 
.fff-ruby_key{background-position:-234px -1794px} 
.fff-ruby_link{background-position:-234px -1820px} 
.fff-ruby_put{background-position:-234px -1846px} 
.fff-script{background-position:-234px -1872px} 
.fff-script_add{background-position:-234px -1898px} 
.fff-script_code{background-position:-234px -1924px} 
.fff-script_code_red{background-position:-234px -1950px} 
.fff-script_delete{background-position:-234px -1976px} 
.fff-script_edit{background-position:-260px 0} 
.fff-script_error{background-position:-260px -26px} 
.fff-script_gear{background-position:-260px -52px} 
.fff-script_go{background-position:-260px -78px} 
.fff-script_key{background-position:-260px -104px} 
.fff-script_lightning{background-position:-260px -130px} 
.fff-script_link{background-position:-260px -156px} 
.fff-script_palette{background-position:-260px -182px} 
.fff-script_save{background-position:-260px -208px} 
.fff-server{background-position:-260px -234px} 
.fff-server_add{background-position:-260px -260px} 
.fff-server_chart{background-position:-260px -286px} 
.fff-server_compressed{background-position:-260px -312px} 
.fff-server_connect{background-position:-260px -338px} 
.fff-server_database{background-position:-260px -364px} 
.fff-server_delete{background-position:-260px -390px} 
.fff-server_edit{background-position:-260px -416px} 
.fff-server_error{background-position:-260px -442px} 
.fff-server_go{background-position:-260px -468px} 
.fff-server_key{background-position:-260px -494px} 
.fff-server_lightning{background-position:-260px -520px} 
.fff-server_link{background-position:-260px -546px} 
.fff-server_uncompressed{background-position:-260px -572px} 
.fff-shading{background-position:-260px -598px} 
.fff-shape_align_bottom{background-position:-260px -624px} 
.fff-shape_align_center{background-position:-260px -650px} 
.fff-shape_align_left{background-position:-260px -676px} 
.fff-shape_align_middle{background-position:-260px -702px} 
.fff-shape_align_right{background-position:-260px -728px} 
.fff-shape_align_top{background-position:-260px -754px} 
.fff-shape_flip_horizontal{background-position:-260px -780px} 
.fff-shape_flip_vertical{background-position:-260px -806px} 
.fff-shape_group{background-position:-260px -832px} 
.fff-shape_handles{background-position:-260px -858px} 
.fff-shape_move_back{background-position:-260px -884px} 
.fff-shape_move_backwards{background-position:-260px -910px} 
.fff-shape_move_forwards{background-position:-260px -936px} 
.fff-shape_move_front{background-position:-260px -962px} 
.fff-shape_rotate_anticlockwise{background-position:-260px -988px} 
.fff-shape_rotate_clockwise{background-position:-260px -1014px} 
.fff-shape_square{background-position:-260px -1040px} 
.fff-shape_square_add{background-position:-260px -1066px} 
.fff-shape_square_delete{background-position:-260px -1092px} 
.fff-shape_square_edit{background-position:-260px -1118px} 
.fff-shape_square_error{background-position:-260px -1144px} 
.fff-shape_square_go{background-position:-260px -1170px} 
.fff-shape_square_key{background-position:-260px -1196px} 
.fff-shape_square_link{background-position:-260px -1222px} 
.fff-shape_ungroup{background-position:-260px -1248px} 
.fff-shield{background-position:-260px -1274px} 
.fff-shield_add{background-position:-260px -1300px} 
.fff-shield_delete{background-position:-260px -1326px} 
.fff-shield_go{background-position:-260px -1352px} 
.fff-sitemap{background-position:-260px -1378px} 
.fff-sitemap_color{background-position:-260px -1404px} 
.fff-sound{background-position:-260px -1430px} 
.fff-sound_add{background-position:-260px -1456px} 
.fff-sound_delete{background-position:-260px -1482px} 
.fff-sound_low{background-position:-260px -1508px} 
.fff-sound_mute{background-position:-260px -1534px} 
.fff-sound_none{background-position:-260px -1560px} 
.fff-spellcheck{background-position:-260px -1586px} 
.fff-sport_8ball{background-position:-260px -1612px} 
.fff-sport_basketball{background-position:-260px -1638px} 
.fff-sport_football{background-position:-260px -1664px} 
.fff-sport_golf{background-position:-260px -1690px} 
.fff-sport_raquet{background-position:-260px -1716px} 
.fff-sport_shuttlecock{background-position:-260px -1742px} 
.fff-sport_soccer{background-position:-260px -1768px} 
.fff-sport_tennis{background-position:-260px -1794px} 
.fff-star{background-position:-260px -1820px} 
.fff-status_away{background-position:-260px -1846px} 
.fff-status_busy{background-position:-260px -1872px} 
.fff-status_offline{background-position:-260px -1898px} 
.fff-status_online{background-position:-260px -1924px} 
.fff-stop{background-position:-260px -1950px} 
.fff-style{background-position:-260px -1976px} 
.fff-style_add{background-position:-286px 0} 
.fff-style_delete{background-position:-286px -26px} 
.fff-style_edit{background-position:-286px -52px} 
.fff-style_go{background-position:-286px -78px} 
.fff-sum{background-position:-286px -104px} 
.fff-tab{background-position:-286px -130px} 
.fff-tab_add{background-position:-286px -156px} 
.fff-tab_delete{background-position:-286px -182px} 
.fff-tab_edit{background-position:-286px -208px} 
.fff-tab_go{background-position:-286px -234px} 
.fff-table{background-position:-286px -260px} 
.fff-table_add{background-position:-286px -286px} 
.fff-table_delete{background-position:-286px -312px} 
.fff-table_edit{background-position:-286px -338px} 
.fff-table_error{background-position:-286px -364px} 
.fff-table_gear{background-position:-286px -390px} 
.fff-table_go{background-position:-286px -416px} 
.fff-table_key{background-position:-286px -442px} 
.fff-table_lightning{background-position:-286px -468px} 
.fff-table_link{background-position:-286px -494px} 
.fff-table_multiple{background-position:-286px -520px} 
.fff-table_refresh{background-position:-286px -546px} 
.fff-table_relationship{background-position:-286px -572px} 
.fff-table_row_delete{background-position:-286px -598px} 
.fff-table_row_insert{background-position:-286px -624px} 
.fff-table_save{background-position:-286px -650px} 
.fff-table_sort{background-position:-286px -676px} 
.fff-tag{background-position:-286px -702px} 
.fff-tag_blue{background-position:-286px -728px} 
.fff-tag_blue_add{background-position:-286px -754px} 
.fff-tag_blue_delete{background-position:-286px -780px} 
.fff-tag_blue_edit{background-position:-286px -806px} 
.fff-tag_green{background-position:-286px -832px} 
.fff-tag_orange{background-position:-286px -858px} 
.fff-tag_pink{background-position:-286px -884px} 
.fff-tag_purple{background-position:-286px -910px} 
.fff-tag_red{background-position:-286px -936px} 
.fff-tag_yellow{background-position:-286px -962px} 
.fff-telephone{background-position:-286px -988px} 
.fff-telephone_add{background-position:-286px -1014px} 
.fff-telephone_delete{background-position:-286px -1040px} 
.fff-telephone_edit{background-position:-286px -1066px} 
.fff-telephone_error{background-position:-286px -1092px} 
.fff-telephone_go{background-position:-286px -1118px} 
.fff-telephone_key{background-position:-286px -1144px} 
.fff-telephone_link{background-position:-286px -1170px} 
.fff-television{background-position:-286px -1196px} 
.fff-television_add{background-position:-286px -1222px} 
.fff-television_delete{background-position:-286px -1248px} 
.fff-text_align_center{background-position:-286px -1274px} 
.fff-text_align_justify{background-position:-286px -1300px} 
.fff-text_align_left{background-position:-286px -1326px} 
.fff-text_align_right{background-position:-286px -1352px} 
.fff-text_allcaps{background-position:-286px -1378px} 
.fff-text_bold{background-position:-286px -1404px} 
.fff-text_columns{background-position:-286px -1430px} 
.fff-text_dropcaps{background-position:-286px -1456px} 
.fff-text_heading_1{background-position:-286px -1482px} 
.fff-text_heading_2{background-position:-286px -1508px} 
.fff-text_heading_3{background-position:-286px -1534px} 
.fff-text_heading_4{background-position:-286px -1560px} 
.fff-text_heading_5{background-position:-286px -1586px} 
.fff-text_heading_6{background-position:-286px -1612px} 
.fff-text_horizontalrule{background-position:-286px -1638px} 
.fff-text_indent{background-position:-286px -1664px} 
.fff-text_indent_remove{background-position:-286px -1690px} 
.fff-text_italic{background-position:-286px -1716px} 
.fff-text_kerning{background-position:-286px -1742px} 
.fff-text_letter_omega{background-position:-286px -1768px} 
.fff-text_letterspacing{background-position:-286px -1794px} 
.fff-text_linespacing{background-position:-286px -1820px} 
.fff-text_list_bullets{background-position:-286px -1846px} 
.fff-text_list_numbers{background-position:-286px -1872px} 
.fff-text_lowercase{background-position:-286px -1898px} 
.fff-text_padding_bottom{background-position:-286px -1924px} 
.fff-text_padding_left{background-position:-286px -1950px} 
.fff-text_padding_right{background-position:-286px -1976px} 
.fff-text_padding_top{background-position:-312px 0} 
.fff-text_replace{background-position:-312px -26px} 
.fff-text_signature{background-position:-312px -52px} 
.fff-text_smallcaps{background-position:-312px -78px} 
.fff-text_strikethrough{background-position:-312px -104px} 
.fff-text_subscript{background-position:-312px -130px} 
.fff-text_superscript{background-position:-312px -156px} 
.fff-text_underline{background-position:-312px -182px} 
.fff-text_uppercase{background-position:-312px -208px} 
.fff-textfield{background-position:-312px -234px} 
.fff-textfield_add{background-position:-312px -260px} 
.fff-textfield_delete{background-position:-312px -286px} 
.fff-textfield_key{background-position:-312px -312px} 
.fff-textfield_rename{background-position:-312px -338px} 
.fff-thumb_down{background-position:-312px -364px} 
.fff-thumb_up{background-position:-312px -390px} 
.fff-tick{background-position:-312px -416px} 
.fff-time{background-position:-312px -442px} 
.fff-time_add{background-position:-312px -468px} 
.fff-time_delete{background-position:-312px -494px} 
.fff-time_go{background-position:-312px -520px} 
.fff-timeline_marker{background-position:-312px -546px} 
.fff-transmit{background-position:-312px -572px} 
.fff-transmit_add{background-position:-312px -598px} 
.fff-transmit_blue{background-position:-312px -624px} 
.fff-transmit_delete{background-position:-312px -650px} 
.fff-transmit_edit{background-position:-312px -676px} 
.fff-transmit_error{background-position:-312px -702px} 
.fff-transmit_go{background-position:-312px -728px} 
.fff-tux{background-position:-312px -754px} 
.fff-user{background-position:-312px -780px} 
.fff-user_add{background-position:-312px -806px} 
.fff-user_comment{background-position:-312px -832px} 
.fff-user_delete{background-position:-312px -858px} 
.fff-user_edit{background-position:-312px -884px} 
.fff-user_female{background-position:-312px -910px} 
.fff-user_go{background-position:-312px -936px} 
.fff-user_gray{background-position:-312px -962px} 
.fff-user_green{background-position:-312px -988px} 
.fff-user_orange{background-position:-312px -1014px} 
.fff-user_red{background-position:-312px -1040px} 
.fff-user_suit{background-position:-312px -1066px} 
.fff-vcard{background-position:-312px -1092px} 
.fff-vcard_add{background-position:-312px -1118px} 
.fff-vcard_delete{background-position:-312px -1144px} 
.fff-vcard_edit{background-position:-312px -1170px} 
.fff-vector{background-position:-312px -1196px} 
.fff-vector_add{background-position:-312px -1222px} 
.fff-vector_delete{background-position:-312px -1248px} 
.fff-wand{background-position:-312px -1274px} 
.fff-weather_clouds{background-position:-312px -1300px} 
.fff-weather_cloudy{background-position:-312px -1326px} 
.fff-weather_lightning{background-position:-312px -1352px} 
.fff-weather_rain{background-position:-312px -1378px} 
.fff-weather_snow{background-position:-312px -1404px} 
.fff-weather_sun{background-position:-312px -1430px} 
.fff-webcam{background-position:-312px -1456px} 
.fff-webcam_add{background-position:-312px -1482px} 
.fff-webcam_delete{background-position:-312px -1508px} 
.fff-webcam_error{background-position:-312px -1534px} 
.fff-world{background-position:-312px -1560px} 
.fff-world_add{background-position:-312px -1586px} 
.fff-world_delete{background-position:-312px -1612px} 
.fff-world_edit{background-position:-312px -1638px} 
.fff-world_go{background-position:-312px -1664px} 
.fff-world_link{background-position:-312px -1690px} 
.fff-wrench{background-position:-312px -1716px} 
.fff-wrench_orange{background-position:-312px -1742px} 
.fff-xhtml{background-position:-312px -1768px} 
.fff-xhtml_add{background-position:-312px -1794px} 
.fff-xhtml_delete{background-position:-312px -1820px} 
.fff-xhtml_go{background-position:-312px -1846px} 
.fff-xhtml_valid{background-position:-312px -1872px} 
.fff-zoom{background-position:-312px -1898px} 
.fff-zoom_in{background-position:-312px -1924px} 
.fff-zoom_out{background-position:-312px -1950px} 